*{
	margin: 0px;
	padding: 0px;
    font-family: sans-serif;
    font-weight: 300;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
#temp_holder {
    background: #ebebeb;
    padding-top: 0%;
}
.wrapper{
    background-color: #fff;
	color: #163039;
    margin: 0 auto;
    max-width: 860px;
    overflow: hidden;
    width: 100%;
}
.wrapper {
    padding:0 20px;
    max-width: 820px;
    width: calc( 100% - 40px );
}

.logo {
    margin-top: 20px;
    text-align: center;
}
.logo img {
    width: 100%;
    height: auto;
}
nav {
    background: rgba(0, 0, 0, 0) url("https://pacific-fantastic.com/images/mbg.png") no-repeat scroll 0 5px / 100% auto;
    margin-top: 1%;
}
nav ul {
    margin: 0 auto;
    overflow: hidden;
    width: 90%;
}
nav ul li {
    float: left;
}
nav ul li a {
    color: #163039;
    display: block;
    font-size: 16px;
    padding: 22px 27px;
    text-transform: uppercase;
    transition-duration: 1s;
}
nav ul li a:hover {
    background-color: #163039;
    color: #fff;
}
.after-nav {
    margin-top: 2%;
}
.titlt {
    margin-top: 0%;
}
.titlt h2 {
    background-color: #dc455b;
    color: #fff;
    font-size: 26px;
    line-height: 60px;
    font-weight: normal;
    text-align: center;
    text-transform: capitalize;
}
.p-img {
    padding-top: 1%;
    text-align: center;
}
.p-img > img {
    border: 5px solid #dc455b;
    width: 100%;
    max-width: 400px;
}
.des{
	padding-top: 2%;
}
.des > h2 {
    background-color: #dc455b;
    color: #fff;
    padding: 1%;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
}
.des_content {
    padding: 2%;
	border: 2px solid #dc455b;
	border-top: 0px;
    font-size: 13px;
}
.des_content > ul {
    margin-left: 2%;
    margin-top: 2%;
}
.des_content ul li {
    list-style-type: inherit;
}
.tabs {
    margin: 2% auto;
    width: 100%;
}
.tabs section {
    border: 2px solid #dc455b;
    display: none;
    line-height: 1.4;
    padding: 2%;
}
b,strong {
    font-weight: 600;
}
.tabs input {
  display: none;
}
.tabs label {
    background-color: #000;
    border: 0;
    color: #fff;
    display: inline-block;
    font-weight: 300;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0 !important;
    width: calc(20% - 44px);
    padding: 10px 20px;
    text-align: center;
}
.tabs label:hover {
   color: #FFF;
  background-color: #dc455b;
  cursor: pointer;
}
.tabs input:checked + label {
  color: #FFF;
  background-color: #dc455b;
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
  display: block;
}